In [1]:
import numpy as np
import pandas as pd
from scipy.spatial.distance import cosine

In [11]:
lastTwo = pd.read_csv('lastTwoMonths.csv.gz', compression='gzip')

//anaconda/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (11,15) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [12]:
lastTwo.shape

(1859727, 48)

In [13]:
grouped = lastTwo.groupby('ncodpers')
numRows = grouped.apply(lambda x: x.shape[0])
numRowsDf = pd.DataFrame({'ncodpers': numRows.index.values, 'num': numRows})
twoRows = numRowsDf[numRowsDf.num > 1]

In [16]:
lastTwo.head()

,fecha_dato,ncodpers,ind_empleado,pais_residencia,sexo,age,fecha_alta,ind_nuevo,antiguedad,indrel,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
0,2016-04-28,896836,N,ES,H,72,2010-11-12,0,65,1,...,0,0,0,0,0,0,0,0,0,0
1,2016-04-28,896837,N,ES,H,57,2010-11-12,0,65,1,...,0,0,0,0,0,0,0,0,0,0
2,2016-04-28,896839,N,ES,V,39,2010-11-12,0,65,1,...,0,0,0,0,0,0,0,0,0,0
3,2016-04-28,896853,N,ES,H,71,2010-11-12,0,65,1,...,0,0,0,0,0,0,0,0,0,0
4,2016-04-28,896849,N,ES,V,25,2010-11-12,0,65,1,...,0,0,0,0,1,0,0,0,0,0

In [17]:
withBoth = twoRows.merge(lastTwo, on='ncodpers')

In [26]:
withBoth.shape

(1853326, 49)

In [9]:
lastTwo = None

In [27]:
withBoth = withBoth.drop(['num'], axis=1)

In [29]:
may = withBoth[withBoth.fecha_dato == '2016-04-28']
june = withBoth[withBoth.fecha_dato == '2016-05-28']

In [30]:
productCols = np.insert(may.columns.values[24:], len(may.columns[24:]),'ncodpers')
productColsForProdAdded = productCols[:-1]

In [31]:
may = may[productCols]
june= june[productCols]

In [33]:
simMat = np.zeros((24,24))

In [34]:
for i in list(range(0,24)):
    for j in list(range(0,24)):
        simMat[i,j] = 1 - cosine(may.iloc[:, i].values, may.iloc[:, j].values)

In [35]:
simDf = pd.DataFrame(simMat, columns = may.columns.values[0:24], index = may.columns.values[0:24])

In [36]:
simDf.head()

,ind_ahor_fin_ult1,ind_aval_fin_ult1,ind_cco_fin_ult1,ind_cder_fin_ult1,ind_cno_fin_ult1,ind_ctju_fin_ult1,ind_ctma_fin_ult1,ind_ctop_fin_ult1,ind_ctpp_fin_ult1,ind_deco_fin_ult1,...,ind_hip_fin_ult1,ind_plan_fin_ult1,ind_pres_fin_ult1,ind_reca_fin_ult1,ind_tjcr_fin_ult1,ind_valo_fin_ult1,ind_viv_fin_ult1,ind_nomina_ult1,ind_nom_pens_ult1,ind_recibo_ult1
ind_ahor_fin_ult1,1.000000,0.000000,0.007146,0.000000,0.003829,0.000000,0.000000,0.012190,0.004983,0.000000,...,0.003381,0.005312,0.000000,0.008571,0.003054,0.007014,0.012564,0.002122,0.002025,0.005455
ind_aval_fin_ult1,0.000000,1.000000,0.002668,0.000000,0.009333,0.000000,0.002688,0.003146,0.008199,0.000000,...,0.000000,0.002913,0.000000,0.009402,0.009380,0.013677,0.000000,0.008146,0.007774,0.010471
ind_cco_fin_ult1,0.007146,0.002668,1.000000,0.017016,0.035273,0.000046,0.068261,0.278447,0.133078,0.019777,...,0.033528,0.057770,0.023675,0.137014,0.111251,0.137308,0.044371,0.042742,0.043890,0.256633
ind_cder_fin_ult1,0.000000,0.000000,0.017016,1.000000,0.013483,0.000000,0.000000,0.018641,0.011413,0.003145,...,0.003349,0.015782,0.001266,0.015121,0.012099,0.033960,0.006221,0.010245,0.011282,0.014351
ind_cno_fin_ult1,0.003829,0.009333,0.035273,0.013483,1.000000,0.000000,0.043827,0.114542,0.214676,0.012274,...,0.159052,0.120799,0.016080,0.355018,0.397073,0.153884,0.042391,0.752472,0.785982,0.570307

In [37]:
mostPopularProds = may.iloc[24:,:-1].sum()

In [38]:
mostPopularProds = mostPopularProds.sort_values(ascending=False)
sevenMostPop = " ".join(list(mostPopularProds.index.values[:7]))

In [110]:
first10KMay = may.sort_values('ncodpers').head(50000)
first10KJune = june.sort_values('ncodpers').head(50000)

In [111]:
def getPreds(r):
    onesProds =  (r[r==1].index.values)
    if len(onesProds) == 0:
        return pd.Series({'prods': sevenMostPop, 'ncodpers': r['ncodpers']})
    else:
        simProdsScores = simDf.loc[onesProds,:].sum()
        simProdsScores = simProdsScores.sort_values(ascending=False)
        simProdsScores = simProdsScores.drop(onesProds)
        topSeven = simProdsScores.iloc[:7]
        topSevenNames = " ".join(topSeven.index.values)
        return pd.Series({'prods': topSevenNames, 'ncodpers': r['ncodpers']})
preds = first10KMay.apply(lambda x: getPreds(x), axis=1)

In [112]:
lastWithPreds = preds.merge(withBoth, on='ncodpers')

In [113]:
def getProductsAdded(g):
    added = []
    firstMonth = g[g.fecha_dato == "2016-04-28"]
    secondMonth = g[g.fecha_dato == "2016-05-28"]
    diffs = secondMonth[productColsForProdAdded].values - firstMonth[productColsForProdAdded].values
    added = [name for i, name in enumerate(productColsForProdAdded) if diffs[0][i] == 1]
    spaceDelim = " ".join(added)
    return spaceDelim

In [114]:
byCust = lastWithPreds.groupby('ncodpers')
prodsAdded = byCust.apply(getProductsAdded)
prodsAddedDf = prodsAdded.to_frame().reset_index()
prodsAddedDf.columns = ['ncodpers', 'prods_act']

In [115]:
addedWithProds = prodsAddedDf.merge(preds, on='ncodpers')

In [116]:
def transformProds(p):
    if p == 'NaN':
        return None
    else:
        return p.split()
    
addedWithProds['act_list'] = addedWithProds.prods_act.apply(transformProds)
addedWithProds['pred_list'] = addedWithProds.prods.apply(transformProds)

In [117]:
addedWithProds.to_csv('50kPredsAndAct.csv')

In [118]:
def apk(actual, predicted, k=10):
    """
    Computes the average precision at k.
    This function computes the average prescision at k between two lists of
    items.
    Parameters
    ----------
    actual : list
             A list of elements that are to be predicted (order doesn't matter)
    predicted : list
                A list of predicted elements (order does matter)
    k : int, optional
        The maximum number of predicted elements
    Returns
    -------
    score : double
            The average precision at k over the input lists
    """
    if len(predicted)>k:
        predicted = predicted[:k]

    score = 0.0
    num_hits = 0.0

    for i,p in enumerate(predicted):
        if p in actual and p not in predicted[:i]:
            num_hits += 1.0
            score += num_hits / (i+1.0)

    if not actual:
        return 0.0

    return score / min(len(actual), k)

def mapk(actual, predicted, k=10):
    """
    Computes the mean average precision at k.
    This function computes the mean average prescision at k between two lists
    of lists of items.
    Parameters
    ----------
    actual : list
             A list of lists of elements that are to be predicted 
             (order doesn't matter in the lists)
    predicted : list
                A list of lists of predicted elements
                (order matters in the lists)
    k : int, optional
        The maximum number of predicted elements
    Returns
    -------
    score : double
            The mean average precision at k over the input lists
    """
    return np.mean([apk(a,p,k) for a,p in zip(actual, predicted)])

In [119]:
mapk(addedWithProds.act_list.values, addedWithProds.pred_list.values, 7)

0.029690404761904762

In [120]:
baseline = [sevenMostPop.split()] * 50000

In [121]:
mapk(addedWithProds.act_list.values, baseline, 7)

0.01314786111111111